.dropdown-content {
    display : none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 8px;
    margin-top: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.custom-dropdown.open .dropdown-content {
    display: block;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: fit-content;
}

#include-exclude-toggle {
    padding: 12px 18px;
    font-size: 1.1rem;
    border-radius: 0 px;
    border: none;
    cursor: pointer;
    background-color: #bbbbbb;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09); /* Subtle shadow */
    transition: background-color 0.3s ease, transform 0.1s ease;
    min-width: 200px; /* Only relevant for chapter dropdown */
}
